<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="notification" routerLink="/service-reparation" *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN'">
        <span>{{nbreNotfication}}</span>
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="filter" *ngIf="loginData.profils == 'CLIENT'">
        <ion-icon name="mail-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search ion-padding">
    <ion-item lines="none">
      <ion-input placeholder="Rechercher un Article"></ion-input>
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-item>
  </div>

  <div class="title ion-padding">
    <h2>Categories</h2>
    <p routerLink="/categories">Voir tous</p>
  </div>

  <div class="category-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide>
        <ion-col routerLink="/telephone">
          <h4>Téléphone</h4>
          <ion-img  src="/assets/images/hone.jpg"></ion-img>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col routerLink="/ordinateur">
          <h4>Ordinateur</h4>
          <ion-img src="/assets/images/pca.png"></ion-img>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col routerLink="/tablette">
          <h4>Tablette</h4>
          <ion-img src="/assets/images/tablette.jpg"></ion-img>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col routerLink="/televiseur">
          <h4>Téléviseur</h4>
          <ion-img src="/assets/images/ecran.jpg"></ion-img>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-col routerLink="/imprimante">
          <h4>Imprimante</h4>
          <ion-img src="/assets/images/imprimente.png"></ion-img>
        </ion-col>
      </ion-slide>

    </ion-slides>
  </div>


  <div class="title ion-padding">
    <h2 class="font-bold">Appareil</h2>
    <p routerLink="/appareil">voir tous</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let l of liste">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <ion-img *ngIf="l.etat === 'ACTIVER'" src="{{this.url+l.id}}" (click)="settings(l)"></ion-img>
          <p *ngIf="l.etat === 'ACTIVER'">{{l.nom}}</p>
          <h4 *ngIf="l.etat === 'ACTIVER'">{{l.prix}} FCFA</h4>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="title ion-padding">
    <h2 class="font-bold">Accessoires</h2>
    <p routerLink="/accessoires">voir tous</p>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide *ngFor="let l of liste2">
        <ion-col class="ion-text-left" routerLink="/item-details" routerDirection="forward">
          <ion-img width="80" height="80" *ngIf="l.etat === 'ACTIVER'" src="{{this.url1+l.id}}" (click)="infoAccessoire(l)"></ion-img>
          <p *ngIf="l.etat === 'ACTIVER'">{{l.nom}}</p>
          <h4 *ngIf="l.etat === 'ACTIVER'">{{l.prix}} FCFA</h4>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" color="#107B97">
    <ion-fab-button color="#107B97">
      <ion-icon md="caret-up" ios="chevron-up-circle-outline" color="light"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top" color="#107B97">
      <ion-fab-button color="light" routerLink="/ajout-article" *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN'">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/commande" *ngIf="loginData.profils == 'CLIENT'">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/reparation" *ngIf="loginData.profils == 'CLIENT'">
        <ion-icon name="hammer-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" routerLink="/mes-article" *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN'">
        <ion-icon name="folder-open-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
