<ion-content  [fullscreen]="true">
  <div class="body">

    <div class="circleBase type2 circle1"></div>
    <div class="circleBase type1"></div>

    <ion-label class="welcomeMessage">

          <ion-img src="/assets/logo/Chris.png"></ion-img>

    </ion-label>

    <form #login="ngForm" (ngSubmit)="onLogin(login)">
      <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
        <ion-item class="ion-margin-vertical">
          <ion-icon
            name="mail-outline" slot="end" color="medium">
          </ion-icon>
          <ion-input name="email" type="email" placeholder="Enter Email Address" ngModel> </ion-input>
        </ion-item>
        <ion-text  class="ion-text-left"  color="danger"></ion-text>

        <ion-item class="ion-margin-vertical">
          <ion-icon  slot="end" name="lock-closed-outline" color="medium"> </ion-icon>
          <ion-input name="password" type="password" placeholder="Enter Password" ngModel> </ion-input>
        </ion-item>
        <ion-text  class="ion-text-left"  color="danger"> </ion-text>

        <ion-row class="ion-margin-vertical">
          <ion-col>
            <div class="pass">
              <ion-note>Mot de passe oublier?</ion-note>
            </div>
          </ion-col>
        </ion-row>
        <ion-button color="#107B97" shape="round" type="submit">Se Connecter</ion-button>
        <p class="signup">
          <ion-note>
          créer un compte <ion-text routerLink="/inscription" color="primary">S'inscrire</ion-text>
          </ion-note>
        </p>

      </ion-list>
    </form>
</div>
<div class="image">
  <ion-img src="/assets/logo/Chris.png"></ion-img>
</div>
</ion-content>
