<ion-header>
  <ion-toolbar color="#107B97">
    <ion-title>Services</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let l of notification">
    <ion-img src="{{this.url+l.id}}"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{l.produits}}</ion-card-subtitle>
      <ion-card-title>{{l.besoinDuService}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{l.libelle}}</ion-card-content>
    <ion-card-content class="rdv">
      <ion-buttons>
        <ion-button (click)="settings(l)">Donner un rendez-vous</ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
