<ion-header>
  <ion-toolbar color="#107B97">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

      <img src="../../assets/products/prod-1.png" alt="">

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Categories</h1>

  <ion-row class="favorite-items">
    <ion-col size="6" class="ion-text-left padding-left0" routerLink="/telephone">
      <ion-img src="/assets/images/hone.jpg"></ion-img>
      <p>Téléphone</p>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0" routerLink="/ordinateur">
      <ion-img src="/assets/images/pac.jpg"></ion-img>
      <p>Ordinateur</p>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0" routerLink="/tablette">
      <ion-img src="/assets/images/tab.jpg"></ion-img>
      <p>Tablette</p>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-right0" routerLink="/televiseur">
      <ion-img src="/assets/images/ecrans.jpeg"></ion-img>
      <p>Téléviseur</p>
    </ion-col>
    <ion-col size="6" class="ion-text-left padding-left0" routerLink="/imprimante">
      <ion-img src="/assets/images/imprimantes.webp"></ion-img>
      <p>Imprimante</p>
    </ion-col>
  </ion-row>
</ion-content>
