
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="#107B97">
      <ion-tab-button tab="atelier">
        <ion-icon name="storefront-outline"></ion-icon>
        <ion-label>
          Atelier
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>
          Accueil
        </ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profil">
        <ion-icon name="person">
        </ion-icon>
        <ion-label>
          Profil
        </ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
