<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="fermer()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="product-slider">
    <ion-slide>
      <ion-img src="{{this.url+info.id}}"></ion-img>
    </ion-slide>
  </ion-slides>

  <div class="ion-padding-vertical">
    <h1 class="item-name">{{info.nom}}</h1>

    <h4 class="price">
      {{info.prix}}
      <span class="real-price">FCFA</span>
    </h4>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="review">
    <ion-row>

      <ion-col size="6">
        <div class="count">{{info.caracteristique}}</div>
      </ion-col>
    </ion-row>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <div class="seperator">
    <hr>
  </div>
</ion-content>
