<ion-header>
  <ion-toolbar color="#107B97">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
        <img src="../../assets/products/prod-1.png" alt="">

    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="title">Profile</h1>

  <div class="profile-info">
    <ion-item *ngIf="loginData.profils == 'GERANT'">
      <ion-icon name="storefront-outline" slot="start"></ion-icon>
      <p>{{loginData.nomAtelier}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN' || loginData.profils =='CLIENT'">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <p>{{loginData.nom}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN' || loginData.profils =='CLIENT'">
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
      <p>{{loginData.prenom}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN'">
      <ion-icon name="ribbon-outline" slot="start"></ion-icon>
      <p>{{loginData.domaineActivite}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN' || loginData.profils =='CLIENT'">
      <ion-icon name="people-circle-outline" slot="start"></ion-icon>
      <p>{{loginData.genre}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN' || loginData.profils =='CLIENT'">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <p>{{loginData.email}}</p>
    </ion-item>
    <ion-item *ngIf="loginData.profils == 'GERANT' || loginData.profils =='TECHNICIEN' || loginData.profils =='CLIENT'">
      <ion-icon name="call-outline" slot="start"></ion-icon>
      <p>{{loginData.contacts}}</p>
    </ion-item>
    <ion-item (click)="logOut()">
      <ion-icon name="power-outline" slot="start"></ion-icon>
      <p>Déconnexion</p>
    </ion-item>
  </div>
</ion-content>
