<div id="appContainer">
    <div class="row align-items-center h-100">
      <div class="col-md-5 col-sm-10 mx-auto">
        
        <div id="cardStyle" class="card justify-content-center">
          <img class="icones" src="assets/Chris1.png" alt="topher" >
        <img class="cones" src="assets/Chris.png" alt="tophe" >

          <h1>CONNEXION</h1>
  
          <div class="card-body">
            <div *ngIf="flag">
              <app-loginpage></app-loginpage>
  
            </div>
          
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  </div>