<ion-content [fullscreen]="true">
<div class="body">
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>

  <ion-label class="welcomeMessage">
        <ion-img width="80" height="80" src="/assets/logo/Chris.png"></ion-img>
        <ion-back-button></ion-back-button>
  </ion-label>

  <form id=formId (ngSubmit)="inscriptionForm(ajout)" #ajout="ngForm">
    <ion-list lines="none" class="ion-margin ion-padding ion-text-center">
      <ion-item>
        <ion-label>Type de Compte</ion-label>
        <ion-select value="profils" interface="action-sheet" cancelText="Annuler" name="profils" ngModel [(ngModel)]="profils" required>
          <ion-select-option value="CLIENT">Client</ion-select-option>
          <ion-select-option value="GERANT">Atelier</ion-select-option>
        </ion-select>
      </ion-item>

      <input class="ion-margin-vertical" *ngIf="profils ==='GERANT'"
      value="photo" name="photo" (change)="view($event)" type="file" #photo="ngModel" ngModel accept="image/jpeg"  #photos  placeholder="Image du logo ou de l'Atelier"/>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='GERANT'">
        <ion-icon name="storefront-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="nomAtelier" placeholder="Nom de l'Atelier" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon  name="person-outline" slot="end" color="medium">  </ion-icon>
        <ion-input name="nom" placeholder="Votre nom" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon  name="person-outline" slot="end" color="medium">  </ion-icon>
        <ion-input name="prenom" placeholder="Votre prenom" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon name="call-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="contacts" type="number" placeholder="contacts" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon name="people-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="genre" placeholder="Genre" ngModel required>
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon name="location-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="Adresse" type="adresse" placeholder="Votre adresse" ngModel required>
        </ion-input>
      </ion-item>
      <ion-item class="ion-margin-vertical" *ngIf="profils ==='GERANT'">
        <ion-icon name="ribbon-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="domaineActivite" placeholder="Domaine d'Activiter" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon name="at-outline" slot="end" color="medium"></ion-icon>
        <ion-input name="email" placeholder="Votre adresse Email" ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon  slot="end" name="lock-closed-outline" color="medium">  </ion-icon>
        <ion-input type="password" name="password" placeholder="Mot de passe"  ngModel required>
        </ion-input>
      </ion-item>

      <ion-item class="ion-margin-vertical" *ngIf="profils ==='CLIENT' || profils ==='GERANT'">
        <ion-icon  slot="end" name="lock-closed-outline" color="medium">  </ion-icon>
        <ion-input type="password" placeholder="Confirmer mot de passe" [(ngModel)]="confirmer" required>
        </ion-input>
      </ion-item>


      <ion-row class="ion-margin-vertical">

      </ion-row>
      <ion-button color="#107B97" type="submit" value="s'inscrire" *ngIf="profils" shape="round">S'inscrire</ion-button>
    </ion-list>
  </form>
</div>
<ion-row class="ion-margin-vertical">

</ion-row>
<div class="image">
  <ion-img src="/assets/logo/Chris.png"></ion-img>
</div>
</ion-content>
