.fa-edit {
  color: green;
}
.fa-trash {
  color: red;
}
.fa-info-circle{
  color: #107B97;
}

table{
 font-size: 16px;
 text-align: center;
 tbody{
   td{
    i{
      margin-right: 5px;
      font-size: 25px;
    }
   }
 }
}
.btn {
  margin-left: 20px;
  margin-top: 40px;
}
#add-accessoire{
  text-align: center;
}